@media (max-width: 373px){
    body{
        @include container373;
    }

    .home{
        .home-cont{
            padding: 5rem 0;
            display: grid;
            grid-template-columns: 100%;
            .home-cont-left{
                //
                height: 100%;
                .home-cont-left-first{
                    //
                    margin-bottom: 30px;
                    h1{
                        font-size: 35px;
                    }
                    h3{
                        line-height: .9;
                        font-size: 20px;
                    }
                }
                p{
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                .header-cont-left-lnks{
                    display: flex;
                    flex-direction: column;
                    .more{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        &:nth-of-type(2){
                            margin-top: 20px;
                        }
                    }
                }
            }
            .home-cont-right{
                //
                height: 250px;
                width: 100%;
                margin: auto;
                margin-top: 2rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .recent{
        // padding: 7rem 0;
        .recent-cont{
            .recent-title{
                //
                width: fit-content;
                margin: auto;
                padding: 40px 0;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    font-weight: 800;
                    line-height: .7;
                }
                p{
                    font-weight: 900;
                }
                &::before{
                    position: absolute;
                    content: 'Products';
                    width: max-content;
                    font-size: 50px;
                    font-weight: 900;
                    opacity: .4;
                    letter-spacing: 5px;
                    // height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
    
            .recent-crds{
                margin-top: 50px;
                display: grid;
                grid-template-columns: 100%;
                justify-content: space-between;
                row-gap: 2rem;
                .recent-crd{
                    //
                    padding: 3.5rem 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .recent-crd-img{
                        width: 200px;
                        height: 200px;
                        //
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    a{
                        font-size: 24px;
                        text-align: center;
                        margin: 10px 0 14px;
                        font-family: $font;
                        font-weight: 700;
                    }
                    p{
                        font-size: 19px;
                        text-align: center;
                    }
    
                    .recent-crd-price{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 18px 0;
                        del{
                            margin-right: 5px;
                            font-size: 19px;
                        }
                        h1{
                            font-size: 24px;
                        }
                    }
                    .more{
                        font-size: unset;
                        display: flex;
                    }
                    span{
                        position: absolute;
                        // //
                        top: 20px;
                        right: 20px;
                        padding: 2px 10px;
                        font-weight: 700;
                        //
                        &::before{
                            position: absolute;
                            content: '';
                            border-style: solid;
                            border-width: 8px;
                            right: 100%;
                            top: 0;
                        }
    
                        &::after{
                            position: absolute;
                            content: '';
                            border-style: solid;
                            border-width: 8px;
                            right: 100%;
                            bottom: 0;
                        }
                    }
                }
            }
    
            .more{
                display: flex;
                margin: 40px auto;
            }
        }
    }

    .blog{
        .blog-cont{
            position: relative;
            padding: 0 0 9rem;
            .blog-cont-title{
                //
                width: fit-content;
                margin: auto;
                padding: 40px 0;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    font-weight: 800;
                    line-height: .7;
                }
                p{
                    font-weight: 900;
                }
                &::before{
                    position: absolute;
                    content: 'Blog';
                    width: max-content;
                    font-size: 110px;
                    font-weight: 900;
                    opacity: .4;
                    letter-spacing: 5px;
                    color: $grey;
                    // height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .blog-cont-crds{
                margin-top: 50px;
                display: grid;
                grid-template-columns: 100%;
                justify-content: space-between;
                row-gap: 2.1rem;
                .blog-cont-crd{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: fit-content;
                    height: max-content;
                    //
                    .blog-cont-crd-img{
                        width: 100%;
                        height: 300px;
                        //
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    h1{
                        margin: 20px 0;
                        font-size: 25px;
                    }
    
                    p{
                        font-weight: 500;
                        font-size: 18px;
                        margin-bottom: 30px;
                    }
                    .blog-cont-crd-dates{
                        //
                        padding: .5rem 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .blog-cont-crd-dates-left{
                            display: flex;
                            //
                            align-items: center;
                            margin-bottom: 10px;
                            h1{
                                font-size: 38px;
                                margin: 0 10px 0 0;
                            }
                            .blog-cont-crd-dates-left-other{
                                p{
                                    margin: 0;
                                    font-size: 19px;
                                    font-weight: 800;
                                    line-height: 1.2;
                                }
                            }
                        }
                        .blog-cont-crd-dates-right{
                            display: flex;
                            //
                            align-items: center;
                            justify-content: space-between;
                            .blog-cont-crd-dates-right-crd{
                                //
                                display: flex;
                                align-items: center;
                                font-size: 18px;
                                &:first-of-type{
                                    margin-right: 5px;
                                }
                                svg{
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                }
                                font-weight: 600;
                            }
                        }
                    }
                } 
            }
            .more{
                display: flex;
                margin: 20px auto;
            }
            .blog-cont-abs{
                position: absolute;
                bottom: 0%;
                transform: translateY(50%);
                width: 100%;
                //
                display: grid;
                grid-template-columns: 100%;
                padding: 2rem 2rem;
                justify-content: center;
                align-items: center;
                .blog-cont-abs-frst{
                    h1{
                        line-height: 1.1;
                        font-size: 23px;
                        text-align: center;
                    }
                    margin-bottom: 1rem;
                }
    
                form{
                    //
                    display: grid;
                    grid-template-columns: 70% 30%;
                    margin-bottom: 1rem;
                    input{
                        padding: 1rem 1rem;
                    }
                }
                .blog-cont-abs-socials{
                    //
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        //
                        display: flex;
                        padding: 7px;
                        width: 35px;
                        height: 35px;
                        &:not(:first-of-type){
                            margin-left: 20px;
                        }
                        svg{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    @include bodyresp2;

    @include header373;

    @include dealer373;
    @include discount373;
}