@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --blck: #242424;
  --white: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

* {
  color: #242424;
  font-family: "Kanit", sans-serif;
}

svg, img {
  width: 50px;
  height: 50px;
}

a {
  -webkit-transition: .6s;
  transition: .6s;
}

span[class=soldSpan] {
  position: relative;
  padding: 2px 10px;
  font-weight: 700;
  background: #b34204;
  color: #f6f6f6;
  border-radius: 0 5px 5px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  left: 20px;
}

span[class=soldSpan]::before {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 8px;
  border-color: #b34204 #b34204 transparent transparent;
  right: 100%;
  top: 0;
}

span[class=soldSpan]::after {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 8px;
  border-color: transparent #b34204 #b34204 transparent;
  right: 100%;
  bottom: 0;
}

span[class=redSpan] {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 2px 10px;
  font-weight: 700;
  background: #b34204;
  color: #f6f6f6;
  border-radius: 0 5px 5px 0;
}

span[class=redSpan]::before {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 8px;
  border-color: #b34204 #b34204 transparent transparent;
  right: 100%;
  top: 0;
}

span[class=redSpan]::after {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 8px;
  border-color: transparent #b34204 #b34204 transparent;
  right: 100%;
  bottom: 0;
}

button {
  font-family: "Kanit", sans-serif;
  cursor: pointer;
}

body {
  font-family: "Kanit", sans-serif;
  background: white;
}

body .container {
  width: 1250px;
  margin: auto;
}

body .container h1 {
  font-size: 60px;
}

body .container p {
  font-size: 24px;
}

body .container .nd:first-of-type {
  margin-right: 15px;
}

body .container .more {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background: #c0aa83;
  color: #f6f6f6;
  border: 2px solid #c0aa83;
  -webkit-transition: .4s;
  transition: .4s;
}

body .container .more:hover {
  background: transparent;
  color: #c0aa83;
}

body .container .more:hover svg {
  fill: #c0aa83;
}

body .container .more svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #f6f6f6;
  -webkit-transition: .4s;
  transition: .4s;
}

body .container .more-black {
  background: #242424;
  color: #f6f6f6;
  border: 2px solid #242424;
  -webkit-transition: .4s;
  transition: .4s;
}

body .container .more-black:hover {
  background: transparent;
  color: #242424;
}

body .container .more-top {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blog .blog-cont {
  margin-top: 50px;
  margin-bottom: 9rem;
}

.blog .blog-cont .blog-cont-crds {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3.14) calc(100%/3.14) calc(100%/3.14);
      grid-template-columns: calc(100%/3.14) calc(100%/3.14) calc(100%/3.14);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 2.6rem;
}

@media (max-width: 1068px) {
  .blog .blog-cont .blog-cont-crds {
    -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
        grid-template-columns: calc(100%/2.1) calc(100%/2.1);
    row-gap: 2.1rem;
  }
}

@media (max-width: 787px) {
  .blog .blog-cont .blog-cont-crds {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd:hover {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd:hover .blog-cont-crd-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .7s;
  transition: .7s;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd h1 {
  margin: 20px 0;
  font-size: 27px;
  color: #c0aa83;
}

@media (max-width: 1299px) {
  .blog .blog-cont .blog-cont-crds .blog-cont-crd h1 {
    margin: 20px 0;
    font-size: 25px;
  }
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
  color: #242424;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd p[class=blog-cont-txt] {
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates {
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f6f6f6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 373px) {
  .blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  margin: 5px 0;
}

@media (max-width: 373px) {
  .blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-left h1 {
  font-size: 28px;
  margin: 0 10px 0 0;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-left .blog-cont-crd-dates-left-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-left .blog-cont-crd-dates-left-other p {
  margin: 0;
  font-size: 16px;
  font-weight: 800;
  color: #c0aa83;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 373px) {
  .blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-right .blog-cont-crd-dates-right-crd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
  font-weight: 600;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-right .blog-cont-crd-dates-right-crd:first-of-type {
  margin-right: 5px;
}

.blog .blog-cont .blog-cont-crds .blog-cont-crd .blog-cont-crd-dates .blog-cont-crd-dates-right .blog-cont-crd-dates-right-crd svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #242424;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000000;
  -webkit-transition: .6s;
  transition: .6s;
  background: white;
}

header input[type=checkbox], header label {
  display: none;
}

header .header-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 75% 5%;
      grid-template-columns: 15% 75% 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

header .header-cont .logo {
  height: 60px;
}

header .header-cont .logo img {
  width: 100%;
  height: 100%;
}

header .header-cont nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont nav .nav-close {
  display: none;
}

header .header-cont nav a {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: #c0aa83;
  -webkit-transition: .7s;
  transition: .7s;
}

header .header-cont nav a:hover {
  color: #242424;
}

header .header-cont nav .dropdown {
  position: relative;
}

header .header-cont nav .dropdown:hover .dropdown-cnt {
  top: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

header .header-cont nav .dropdown button {
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  font-size: 17px;
  color: #c0aa83;
  -webkit-transition: .7s;
  transition: .7s;
  background: none;
  border: none;
  cursor: pointer;
}

header .header-cont nav .dropdown button:hover {
  color: #242424;
}

header .header-cont nav .dropdown .activeNav {
  color: #242424;
}

header .header-cont nav .dropdown .dropdown-cnt {
  -webkit-transition: .5s;
  transition: .5s;
  top: 60%;
  position: absolute;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 7px 15px -1px rgba(63, 65, 66, 0.151);
          box-shadow: 0px 7px 15px -1px rgba(63, 65, 66, 0.151);
  pointer-events: none;
}

header .header-cont nav .dropdown .dropdown-cnt a {
  -webkit-transition: unset;
  transition: unset;
  color: #242424;
  width: 200px;
  display: block;
  font-weight: 500;
}

header .header-cont nav .dropdown .dropdown-cnt a:hover {
  background: #c0aa83;
  color: #f6f6f6;
}

header .header-cont nav .activeNav {
  color: #242424;
}

header .header-cont .header-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont .header-next .header-next-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont .header-next .header-next-cart .header-next-number {
  font-size: 17px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 50%;
  font-weight: 700;
  margin-right: 5px;
  background: #c0aa83;
  color: #f6f6f6;
}

header .header-cont .header-next svg {
  width: 25px;
  height: 25px;
  fill: #242424;
}

header .header-cont .menu-btn {
  display: none;
}

.header {
  background: white;
  -webkit-box-shadow: 0px 9px 19px -9px #676c6e71;
          box-shadow: 0px 9px 19px -9px #676c6e71;
}

.footer {
  background: -webkit-gradient(linear, right top, left top, from(#000000ce), to(#000000ce)), url(../../assets/09/footer_map.png);
  background: linear-gradient(right, #000000ce, #000000ce), url(../../assets/09/footer_map.png);
  background-size: cover;
  background-position: center;
}

.footer .footer-cont {
  position: relative;
  padding: 9rem 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
      grid-template-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-cont .footer-cont-first .footer-cont-first-logo {
  width: 182px;
  margin-bottom: 20px;
}

.footer .footer-cont .footer-cont-first .footer-cont-first-logo img {
  width: 100%;
}

.footer .footer-cont .footer-cont-first p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #f6f6f6;
}

.footer .footer-cont .footer-crds h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #c0aa83;
}

.footer .footer-cont .footer-crds .footer-cont-scnd-blw {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
      grid-template-columns: calc(100%/2.1) calc(100%/2.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-cont .footer-crds .footer-cont-scnd-blw a {
  font-size: 21px;
  font-weight: 600;
  color: #f6f6f6;
  text-decoration: none;
}

.footer .footer-cont .footer-crds .footer-cont-scnd-blw a:hover {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: #c0aa83;
}

.footer .footer-cont .footer-crds .footer-cont-scnd-blw .footeractive {
  color: #c0aa83;
}

.footer .footer-cont .footer-crds .footer-cont-thrd-blw p, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer .footer-cont .footer-crds .footer-cont-thrd-blw p svg, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  fill: #c0aa83;
}

.footer .footer-cont .footer-crds .footer-cont-thrd-blw p {
  color: #848484;
}

.footer .footer-cont .footer-crds .footer-cont-thrd-blw a {
  text-decoration: none;
  color: #f6f6f6;
  -webkit-transition: .7s;
  transition: .7s;
}

.footer .footer-cont .footer-crds .footer-cont-thrd-blw a:hover {
  color: #c0aa83;
}

.footer .footer-cont .blog-cont-abs {
  position: absolute;
  bottom: 100%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
      grid-template-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
  padding: 3.5rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c0aa83;
  border-radius: 10px;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-frst h1 {
  line-height: 1.1;
  font-size: 36px;
  color: #f6f6f6;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-frst h1 span {
  color: #242424;
}

.footer .footer-cont .blog-cont-abs form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  overflow: hidden;
}

.footer .footer-cont .blog-cont-abs form input {
  padding: 1.5rem 1rem;
  outline: none;
  border: none;
  color: #242424;
  font-family: "Kanit", sans-serif;
  border-radius: 5px 0 0 5px;
}

.footer .footer-cont .blog-cont-abs form button {
  font-family: "Kanit", sans-serif;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background: #242424;
  color: #f6f6f6;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a {
  background: #c0aa83;
  padding: 12px;
  width: 50px;
  background: #d3c4a9;
  height: 50px;
  -webkit-transition: .6s;
  transition: .6s;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:hover {
  background: #242424;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:hover svg {
  fill: #c0aa83;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:not(:first-of-type) {
  margin-left: 20px;
}

.footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a svg {
  width: 100%;
  height: 100%;
  fill: #242424;
  -webkit-transition: .6s;
  transition: .6s;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000000;
  -webkit-transition: .6s;
  transition: .6s;
  background: white;
}

header input[type=checkbox], header label {
  display: none;
}

header .header-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 75% 5%;
      grid-template-columns: 15% 75% 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

header .header-cont .logo {
  height: 60px;
}

header .header-cont .logo img {
  width: 100%;
  height: 100%;
}

header .header-cont nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont nav .nav-close {
  display: none;
}

header .header-cont nav a {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 17px;
  text-decoration: none;
  color: #c0aa83;
  -webkit-transition: .7s;
  transition: .7s;
}

header .header-cont nav a:hover {
  color: #242424;
}

header .header-cont nav .dropdown {
  position: relative;
}

header .header-cont nav .dropdown:hover .dropdown-cnt {
  top: 100%;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

header .header-cont nav .dropdown button {
  padding: 10px 20px;
  font-weight: 700;
  font-family: "Kanit", sans-serif;
  font-size: 17px;
  color: #c0aa83;
  -webkit-transition: .7s;
  transition: .7s;
  background: none;
  border: none;
  cursor: pointer;
}

header .header-cont nav .dropdown button:hover {
  color: #242424;
}

header .header-cont nav .dropdown .activeNav {
  color: #242424;
}

header .header-cont nav .dropdown .dropdown-cnt {
  -webkit-transition: .5s;
  transition: .5s;
  top: 60%;
  position: absolute;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 7px 15px -1px rgba(63, 65, 66, 0.151);
          box-shadow: 0px 7px 15px -1px rgba(63, 65, 66, 0.151);
  pointer-events: none;
}

header .header-cont nav .dropdown .dropdown-cnt a {
  -webkit-transition: unset;
  transition: unset;
  color: #242424;
  width: 200px;
  display: block;
  font-weight: 500;
}

header .header-cont nav .dropdown .dropdown-cnt a:hover {
  background: #c0aa83;
  color: #f6f6f6;
}

header .header-cont nav .activeNav {
  color: #242424;
}

header .header-cont .header-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont .header-next .header-next-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-cont .header-next .header-next-cart .header-next-number {
  font-size: 17px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 50%;
  font-weight: 700;
  margin-right: 5px;
  background: #c0aa83;
  color: #f6f6f6;
}

header .header-cont .header-next svg {
  width: 25px;
  height: 25px;
  fill: #242424;
}

header .header-cont .menu-btn {
  display: none;
}

.dealer {
  padding: 5rem 0 14rem;
}

.dealer .dealer-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
      grid-template-columns: calc(100%/2.1) calc(100%/2.1);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dealer .dealer-cont .dealer-cont-left {
  background: url(../../../assets/09/coffee-cup-1.png);
  background-repeat: no-repeat;
  background-position: right center;
  overflow: visible;
  padding: 2rem 0;
}

.dealer .dealer-cont .dealer-cont-left p {
  font-size: 30px;
  font-weight: 700;
  color: #242424;
}

.dealer .dealer-cont .dealer-cont-left h1 {
  line-height: 1;
  font-size: 120px;
  color: #c0aa83;
}

.dealer .dealer-cont .dealer-cont-left h3 {
  font-size: 60px;
  line-height: 1;
  margin-top: 20px;
  letter-spacing: 1px;
  color: #242424;
}

.dealer .dealer-cont .dealer-cont-right h1 {
  font-size: 55px;
}

.dealer .dealer-cont .dealer-cont-right p {
  font-size: 19px;
  margin-bottom: 30px;
}

.footer {
  background: -webkit-gradient(linear, right top, left top, from(#000000ce), to(#000000ce)), url(../../../assets/09/footer_map.png);
  background: linear-gradient(right, #000000ce, #000000ce), url(../../../assets/09/footer_map.png);
}

.home-mini {
  background: url(../assets/09/inner_parallax.jpg);
  background-size: cover;
  background-position: center;
}

.home-mini .home-mini-cont {
  padding: 5rem 0;
}

.home-mini .home-mini-cont h1 {
  color: #f6f6f6;
}

.home-mini .home-mini-cont .home-mini-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-mini .home-mini-cont .home-mini-links a {
  font-family: "Kanit", sans-serif;
  font-size: 19px;
  font-weight: 800;
  text-decoration: none;
  color: #c0aa83;
}

@media (max-width: 581px) {
  .home-mini .home-mini-cont .home-mini-links a {
    font-size: 15px;
  }
}

.home-mini .home-mini-cont .home-mini-links svg {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  fill: #f6f6f6;
}

.home-mini .home-mini-cont .home-mini-links p {
  font-size: 18px;
  font-weight: 730;
  color: #f6f6f6;
}

@media (max-width: 581px) {
  .home-mini .home-mini-cont .home-mini-links p {
    font-size: 15px;
  }
}

.home-mini {
  background: url(../../../assets/09/inner_parallax.jpg);
  background-size: cover;
  background-position: center;
}

.beforeFooter {
  padding-bottom: 1rem;
}

@media (max-width: 978px) {
  .beforeFooter {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 787px) {
  .beforeFooter {
    padding-bottom: 5.5rem;
  }
}

.home-mini {
  background: url(../../assets/09/inner_parallax.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
  background: -webkit-gradient(linear, right top, left top, from(#000000ce), to(#000000ce)), url(../../assets/09/footer_map.png);
  background: linear-gradient(right, #000000ce, #000000ce), url(../../assets/09/footer_map.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 1299px) {
  body .container {
    width: 1050px;
  }
}

@media (max-width: 1068px) {
  body {
    overflow-y: scroll;
  }
  body .container {
    width: 950px;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  header input[type=checkbox], header label {
    display: none;
  }
  header .header-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 15% 75% 5%;
        grid-template-columns: 15% 75% 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
  }
  header .header-cont .logo {
    height: 60px;
  }
  header .header-cont .logo img {
    width: 100%;
    height: 100%;
  }
  header .header-cont nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0px 0px 8px -6px rgba(103, 108, 110, 0.445);
            box-shadow: 0px 0px 8px -6px rgba(103, 108, 110, 0.445);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    width: 0%;
    bottom: 0;
    right: 0;
    align-items: center;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-transition: .6s;
    transition: .6s;
    overflow-y: auto;
    max-height: 100%;
    padding-top: 90px;
  }
  header .header-cont nav .nav-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  header .header-cont nav .nav-close svg {
    fill: #c0aa83;
  }
  header .header-cont nav a {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: #c0aa83;
    -webkit-transition: .7s;
    transition: .7s;
    border-top: 1px solid #242424;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-cont nav a:hover {
    color: #242424;
  }
  header .header-cont nav a:last-of-type {
    border-bottom: 1px solid #242424;
  }
  header .header-cont nav .dropdown {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-cont nav .dropdown:hover .dropdown-cnt {
    top: unset;
    visibility: visible;
    opacity: 1;
  }
  header .header-cont nav .dropdown button {
    padding: 10px 20px;
    font-weight: 700;
    font-family: "Kanit", sans-serif;
    font-size: 17px;
    -webkit-transition: .7s;
    transition: .7s;
    background: none;
    border: none;
    cursor: pointer;
    border-top: 1px solid #242424;
  }
  header .header-cont nav .dropdown button:hover {
    color: #242424;
  }
  header .header-cont nav .dropdown .dropdown-cnt {
    -webkit-transition: .7s;
    transition: .7s;
    top: unset;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background: #c0aa83;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    opacity: 1;
    visibility: unset;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    -webkit-box-shadow: 0px 4px 8px -1px rgba(63, 65, 66, 0.281);
            box-shadow: 0px 4px 8px -1px rgba(63, 65, 66, 0.281);
  }
  header .header-cont nav .dropdown .dropdown-cnt a {
    -webkit-transition: unset;
    transition: unset;
    color: #242424;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-cont nav .dropdown .dropdown-cnt a:hover {
    background: #c0aa83;
    color: #f6f6f6;
  }
  header .header-cont nav .navChange .dropdown-cnt {
    max-height: 1000px;
    overflow-y: scroll;
  }
  header .header-cont .openNav {
    width: 100%;
  }
  header .header-cont .header-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-cont .header-next .header-next-cart .header-next-number {
    font-size: 17px;
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 5px;
    background: #c0aa83;
    color: #f6f6f6;
  }
  header .header-cont .header-next .header-next-cart svg {
    width: 25px;
    height: 25px;
  }
  header .header-cont .header-next .menu-btn {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
  }
  header .header-cont .header-next .menu-btn svg {
    width: 25px;
    height: 25px;
  }
  .footer .footer-cont {
    padding: 9rem 0 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
        grid-template-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo {
    width: 182px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo img {
    width: 100%;
  }
  .footer .footer-cont .footer-cont-first p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer .footer-cont .footer-crds h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
        grid-template-columns: calc(100%/2.1) calc(100%/2.1);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw a {
    font-size: 21px;
    font-weight: 600;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p svg, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .footer .footer-cont .blog-cont-abs {
    position: absolute;
    bottom: 100%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
        grid-template-columns: calc(100%/3.3) calc(100%/3.3) calc(100%/3.3);
    padding: 3.5rem 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-frst h1 {
    line-height: 1.1;
    font-size: 29px;
  }
  .footer .footer-cont .blog-cont-abs form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75% 25%;
        grid-template-columns: 75% 25%;
  }
  .footer .footer-cont .blog-cont-abs form input {
    padding: 1.5rem 1rem;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a {
    padding: 12px;
    width: 50px;
    height: 50px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:not(:first-of-type) {
    margin-left: 20px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a svg {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 978px) {
  body .container {
    width: 750px;
  }
  body .container h1 {
    font-size: 45px;
  }
  .footer .footer-cont {
    padding: 6rem 0 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/3.1) calc(100%/3.1) calc(100%/3.1);
        grid-template-columns: calc(100%/3.1) calc(100%/3.1) calc(100%/3.1);
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo {
    width: 182px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo img {
    width: 100%;
  }
  .footer .footer-cont .footer-cont-first p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer .footer-cont .blog-cont-abs {
    position: absolute;
    bottom: 100%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/3.1) calc(100%/3.1) calc(100%/3.1);
        grid-template-columns: calc(100%/3.1) calc(100%/3.1) calc(100%/3.1);
    padding: 2rem 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-frst h1 {
    line-height: 1.1;
    font-size: 23px;
  }
  .footer .footer-cont .blog-cont-abs form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .footer .footer-cont .blog-cont-abs form input {
    padding: 1rem 1rem;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 9px;
    width: 40px;
    height: 40px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:not(:first-of-type) {
    margin-left: 20px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a svg {
    width: 100%;
    height: 100%;
  }
  .footer .footer-cont .footer-crds h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
        grid-template-columns: calc(100%/2.1) calc(100%/2.1);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw a {
    font-size: 21px;
    font-weight: 600;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p svg, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

@media (max-width: 787px) {
  body .container {
    width: 650px;
  }
  body .container h1 {
    font-size: 45px;
  }
  .footer .footer-cont {
    padding: 9rem 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
        grid-template-columns: calc(100%/2.1) calc(100%/2.1);
    row-gap: 1.3rem;
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo {
    width: 182px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo img {
    width: 100%;
  }
  .footer .footer-cont .footer-cont-first p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer .footer-cont .blog-cont-abs {
    position: absolute;
    bottom: 100%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 2rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-frst {
    margin-bottom: 1rem;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-frst h1 {
    line-height: 1.1;
    font-size: 30px;
    text-align: center;
  }
  .footer .footer-cont .blog-cont-abs form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    margin-bottom: 1rem;
  }
  .footer .footer-cont .blog-cont-abs form input {
    padding: 1rem 1rem;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 9px;
    width: 40px;
    height: 40px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:not(:first-of-type) {
    margin-left: 20px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a svg {
    width: 100%;
    height: 100%;
  }
  .footer .footer-cont .footer-crds h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
        grid-template-columns: calc(100%/2.1) calc(100%/2.1);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw a {
    font-size: 21px;
    font-weight: 600;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p svg, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  header .header-cont {
    padding: 20px 0;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-cont .logo {
    height: 55px;
    width: 150px;
  }
  header .header-cont .logo img {
    width: 100%;
    height: 100%;
  }
  header .header-cont .header-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0px 0 0;
  }
  header .header-cont .header-next .header-next-number {
    font-size: 14px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 5px;
  }
  header .header-cont .header-next svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 688px) {
  body .container {
    width: 550px;
  }
  body .container h1 {
    font-size: 45px;
  }
}

@media (max-width: 581px) {
  body .container {
    width: 450px;
  }
  body .container h1 {
    font-size: 45px;
  }
}

@media (max-width: 471px) {
  body .container {
    width: 350px;
  }
  body .container h1 {
    font-size: 45px;
  }
  body {
    font-family: "Kanit", sans-serif;
  }
  body .container {
    margin: auto;
  }
  body .container h1 {
    font-size: 35px;
  }
  body .container p {
    font-size: 22px;
  }
  body .container .nd:first-of-type {
    margin-right: 15px;
  }
  body .container .more {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container .more svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .footer .footer-cont {
    padding: 9rem 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    row-gap: 1.3rem;
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo {
    width: 182px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-cont-first .footer-cont-first-logo img {
    width: 100%;
  }
  .footer .footer-cont .footer-cont-first p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .footer .footer-cont .blog-cont-abs {
    position: absolute;
    bottom: 100%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 2rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-frst {
    margin-bottom: 1rem;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-frst h1 {
    line-height: 1.1;
    font-size: 23px;
    text-align: center;
  }
  .footer .footer-cont .blog-cont-abs form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    margin-bottom: 1rem;
  }
  .footer .footer-cont .blog-cont-abs form input {
    padding: 1rem 1rem;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 9px;
    width: 40px;
    height: 40px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a:not(:first-of-type) {
    margin-left: 20px;
  }
  .footer .footer-cont .blog-cont-abs .blog-cont-abs-socials a svg {
    width: 100%;
    height: 100%;
  }
  .footer .footer-cont .footer-crds h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100%/2.1) calc(100%/2.1);
        grid-template-columns: calc(100%/2.1) calc(100%/2.1);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer-cont .footer-crds .footer-cont-scnd-blw a {
    font-size: 21px;
    font-weight: 600;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .footer .footer-cont .footer-crds .footer-cont-thrd-blw p svg, .footer .footer-cont .footer-crds .footer-cont-thrd-blw a svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

@media (max-width: 373px) {
  body .container {
    width: 270px;
  }
  body .container h1 {
    font-size: 45px;
  }
  body {
    font-family: "Kanit", sans-serif;
  }
  body .container {
    margin: auto;
  }
  body .container h1 {
    font-size: 30px;
  }
  body .container p {
    font-size: 18px;
  }
  body .container .nd:first-of-type {
    margin-right: 15px;
  }
  body .container .more {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .container .more:nth-of-type(2) {
    margin-top: 20px;
  }
  body .container .more svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  header .header-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 60% 20% 20%;
        grid-template-columns: 60% 20% 20%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-cont .logo {
    height: 50px;
  }
  header .header-cont .logo img {
    width: 80%;
    height: 100%;
  }
  header .header-cont label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 35px;
    height: 35px;
  }
  header .header-cont label svg {
    width: 100%;
    justify-items: 100%;
  }
  header .header-cont input[type=checkbox]:checked ~ nav {
    height: 300px;
    padding: 2.5rem 0;
  }
  header .header-cont .header-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0px 0 0;
  }
  header .header-cont .header-next .header-next-cart .header-next-number {
    font-size: 13px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-weight: 700;
    margin-right: 5px;
  }
}
/*# sourceMappingURL=main.css.map */