@import '../variables';
@include body;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog{
    .blog-cont{
        margin-top: 50px;
        margin-bottom: 9rem;
        @include blogcrds;
    }
}

@include header;

@include headerOfMini;

@include footer;

@include header;

@include ofMini;

@include miniHome;
@include miniHomePg;
@include beforeFooter;
@include miniHomeInner;
@include footerMini;

@import './resp1299';
@import './resp1068';
@import './resp978';
@import './resp787';
@import './resp688';
@import './resp581';
@import './resp471';
@import './resp373';